#thehead {
  background-color: aquamarine;
  border: 0.5px solid black;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60%;
  height: 30vh;
  width: 20vw;
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgb(105, 92, 151);
}
.profiles {
  height: 40vh;
  width: 40vw;
}
.first {
  display: flex;
}
.manduosoft {
  background-color: lightblue;
}

.baddest {
  background-color: gold;
}

.amara {
  background-color: maroon;
}
